.navbarContainer{
    height: 8vh;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #84c425;
    /* color: #036278; Sway Blue*/
}

.link{
    color: #84c425;
    text-decoration: none;
}

.logoContainer{

}

.logo{
    height: 8vh;
    width: 8vw;
    /* background: url('./images/app.co.png'); */
    background: white;
    margin-left: 20px;
}

.search{
    display: flex;
    align-items: center;
    margin-right: 20px;
    height: 100%;
    width: 400px;
}

.search:hover input{
    width: 350px;
}

.searchLogo{
    background: url(/static/media/search_logo.a9346a3e.svg) no-repeat white;
    background-size: cover;
    border: 1px solid white;
    border-radius: 10%;
    margin-right: -3px;
    height: 17px;
    width: 17px;
}


.searchBar{
    border: 1px solid white;
    width: 0px;
    padding-left: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.invisible{
    display: none;
}

.login{
    display: flex;
    position: relative;
}

.login h4{
    margin-right: 10px;
    cursor: pointer;
}

.logout{
    align-self: center;
}

.profile{
    width: 200px;
    height: 330px;
    background: red;
    position: absolute;
    display: flex;
    justify-content: center;
}