.navbarContainer{
    height: 8vh;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #84c425;
}

.link{
    color: #84c425;
    text-decoration: none;
    font-family: 'Lobster', Georgia, Times, serif;
    font-style: italic;
}

.logoContainer{
    margin-left: 30px;
    margin-bottom: 10px;
}

.sway{
    font-size: 50px;
}

.browse{
    font-size: 24px;
}

.myMusic{
    font-size: 24px;
}

.search{
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 400px;
}

.searchLogo{
    background: url(/static/media/search_logo.a9346a3e.svg) no-repeat;
    background-size: cover;
    margin-right: -20px;
    height: 17px;
    width: 17px;
    z-index: 10;
}


.searchBar{
    border-radius: 50px;
    border: 1px solid #767676;
    background: white;
    padding-left: 22px;
    height: 17px;
    width: 365px;
}

.invisible{
    display: none;
}

.login{
    display: flex;
    position: relative;
    align-items: center;
}

.username{
    box-shadow: 1px 0 0 0 #84c425;
    margin-right: 5px;
    display: flex;
    align-items: center;
    height: 40px;
}

.username h4{
    margin-right: 10px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.logout{
    border: none;
    background: none;
    font-family: 'Lobster', Georgia, Times, serif;
    color: #84c425;
    font-size: 24px;
    cursor: pointer;
}

.loginButton{
    border: none;
    background: none;
    font-family: 'Lobster', Georgia, Times, serif;
    color: #84c425;
    font-size: 24px;
    cursor: pointer;
}

.arrowUp{
    position: absolute;
    top: 5.2%;
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid #3a3a3a;    ;
}

.profile{
    width: 200px;
    height: 330px;
    background-color: #1d1d1d;
    background-image: linear-gradient(345deg, #1d1d1d 38%, #3a3a3a 100%);
    position: absolute;
    top: 6.5%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    z-index: 10;
}

@media (max-width: 975px){
    .browse{
        font-size: 20px;
    }
    
    .myMusic{
        font-size: 20px;
    }

    .username h4{
        font-size: 16px;
    }

    .logout{
        font-size: 20px;
    }
}