.color{
    background: #036278;
    height: 100%;
}
.link{
    text-decoration: none;
}

.album{
    display: inline-block;
    text-align: center;
}

.album p{
    color: white;
    margin-top: -50px;
}