.playlistAlbum{
    display: inline-block;
    text-align: center;
}

.playlistAlbum p{
    color: white;
}

.link{
    text-decoration: none;
}

h1{
    text-align: center;
}

.playlistContainer{
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
}