.playlistsBackground{
    background-color: #1d1d1d;
    background-image: linear-gradient(345deg, #1d1d1d 38%, #3a3a3a 100%);
}

.playlistAlbum{
    text-align: center;
    display: table;
    margin: 10px;
}

.playlistAlbum p{
    margin-top: 5px;
    color: white;
}

.link{
    text-decoration: none;
}

.link img{
    height: auto;
    width: 300px;
    border-radius: 5px;
}

.link:hover img{
    width: 298px;
    height: auto;
    border: 1px solid white;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 1px 0 0 white;
    margin-right: 8.5vw;
    margin-left: 8.5vw;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.back{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.categoryTitle{
    color: white;
    font-size: 40px;
}

.playlistContainer{
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 10px;
}