.song{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.titleContainer{
    position: absolute;
    left: 150px;
    max-width: 50ch;
    text-align: center;
}

.albumContainer{
    position: absolute;
    left: 40%;
    max-width: 60ch;
    text-align: center;
}

.artistContainer{
    position: absolute;
    left: 80%;
}

.album{
    display: inline-block;
    text-align: center;
}

.album p{
    max-width: 50ch;
}